<style>
    .disBlock {
        display: block;
    }

    .disNone {
        display: none;
    }
</style>
<ul class="sidebar-nav" id="sidebar-nav">

    <!-- End Icons Nav -->
    <div>
        <li class="nav-item">
            <a class="nav-link " href="/sh/home">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
        <div class="<% if(admin){ %> disBlock <% }else { %> disNone <% } %> ">
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>Assistant Directors</span><i
                        class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/sh/admin/asstdir">
                            <i class="bi bi-circle"></i><span>List of Asst Dir's</span>
                        </a>
                    </li>
                    <li>
                        <a href="/sh/admin/addad">
                            <i class="bi bi-circle"></i><span>Add Asst Dir's</span>
                        </a>
                    </li>

                </ul>
            </li><!-- End Components Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse"
                    href="/sh/admin/blockList">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Blocks</span>
                    <i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/sh/admin/blockList">
                            <i class="bi bi-circle"></i><span>List of Blocks</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-gem"></i><span>Rooms</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/sh/admin/roomlist">
                            <i class="bi bi-circle"></i><span>List of Rooms</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
    </div>

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="/sh/user/profile">
            <i class="bi bi-person"></i>
            <span>Profile</span>
        </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
        <a class="nav-link collapsed" href="/sh/attendance/blocks">
            <i class="bi bi-question-circle"></i>
            <span>Take Attendance</span>
        </a>
    </li><!-- End F.A.Q Page Nav -->

    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-journal-text"></i><span>Students</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
                <a href="/sh/admin/student">
                    <i class="bi bi-circle"></i><span>List of Student's</span>
                </a>
            </li>
            <li>
                <a href="/sh/admin/addstudent">
                    <i class="bi bi-circle"></i><span>Add Student's</span>
                </a>
            </li>
        </ul>
    </li><!-- End Forms Nav -->

    </li><!-- End Contact Page Nav -->
</ul>