<!DOCTYPE html>
<html>
<head>
<style>
  .container {
    display: grid;
    background-color: antiquewhite;
    
  }
</style>
</head>
<body>
<center>
  <div class="container">
    <div class="sub">1</div>
    <div class="sub">2</div>
    <div class="sub">3</div>
    <div class="sub">4</div>
    <div class="sub">5</div>  
    <div class="sub">6</div>
    <div class="sub">7</div>
    <div class="sub">8</div>
    <div class="sub">9</div>
    <div class="sub">10</div>
    <div class="sub">11</div>
    <div class="sub">12</div>
    <div class="sub">13</div>
    <div class="sub">14</div>
    <div class="sub">15</div>
  
  </div>
  
</center>
</body>
</html>


