<table border="1">
    <thead>
      <tr>
        <th>Serial Number</th>
        <th>Name</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <% let serialNumber = 1; %>
      <% data.forEach(person => { %>
        <tr>
          <td><%= serialNumber++ %></td>
          <td><%= person.name %></td>
          <td><%= person.age %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  