<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <div class="container">
        <label for="userId">User Id : </label>
        <input type="text" id="userId">
        <label for="pass">Password : </label>
        <input type="password" name="pass" id="pass">
        <button type="button" onclick="loginUser()">Submit</button>
    </div>
    <script>
        function loginUser() {

            const userId = document.getElementById('userId').value;
            const pass = document.getElementById('pass').value;

            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            const raw = JSON.stringify({
                "userId": userId,
                "password": pass
            });

            const requestOptions = {
                method: "POST",
                headers: myHeaders,
                body: raw,
                redirect: "follow"
            };

            fetch("http://localhost:4000/api/user/login", requestOptions)
                .then( (response) => {
                    if(response.status === 200) {
                        window.location.replace("http://localhost:4000/sh/home");
                    }else {
                        window.location.replace("http://localhost:4000/sh/login");

                    }
                })

        }
    </script>
</body>

</html>