<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <style>
            body {
                background-color: #f7f7f7;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            .login-form {
                background: #fff;
                padding: 30px;
                border-radius: 10px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            }

            .form-control:focus {
                box-shadow: none;
                border-color: #007bff;
            }

            .input-group-text {
                background-color: #fff;
                border-left: 0;
            }

            .input-group .form-control {
                border-right: 0;
            }

            .input-group .toggle-password {
                cursor: pointer;
            }
        </style>
</head>

<body>
    <div class="login-form col-md-4">
        <h3 class="text-center mb-4">Login</h3>
        <div>
            <div class="mb-3">
                <label for="email" class="form-label">User Id</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    <input type="text" class="form-control" id="userId" placeholder="Enter your User ID" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    <input type="password" class="form-control" id="password" placeholder="Enter your password"
                        required>
                    <span class="input-group-text toggle-password"><i class="fas fa-eye-slash"></i></span>
                </div>
            </div>
            <div class="d-grid">
                <button type="button" class="btn btn-primary" onclick="loginUser()">Login</button>
            </div>

            <div class="text-center mt-3">
                <a href="/sh/warden/restPassword">Forgot password?</a> | <a href="/sh/signup">Sign up</a>
            </div>
        </div>
    </div>
    <script>
        document.querySelector('.toggle-password').addEventListener('click', function () {
            const passwordInput = document.getElementById('password');
            const icon = this.querySelector('i');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            } else {
                passwordInput.type = 'password';
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            }
        });


        function loginUser() {

            const userId = document.getElementById('userId').value;
            const pass = document.getElementById('password').value;

            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            const raw = JSON.stringify({
                "userId": userId,
                "password": pass
            });

            const requestOptions = {
                method: "POST",
                headers: myHeaders,
                body: raw,
                redirect: "follow"
            };

            fetch("http://localhost:4000/api/user/login", requestOptions)
                .then((response) => {
                    if (response.status === 200) {
                        window.location.replace("http://localhost:4000/sh/home");
                    } else {
                        alert('Login Failed try again !')

                    }
                })

        }
    </script>
</body>

</html>