<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card p-4 shadow" style="width: 400px;">

            <h2 class="text-center mb-4">Forgot Password</h2>
            <div id="forgotPasswordForm">
                <div class="mb-3">
                    <div class="spinner-border" id="spinner" role="status">
                        <span class="sr-only"></span>
                    </div>
                    <div id="emailBlock">
                        <label for="email" class="form-label">Enter your email address</label>
                        <input type="email" class="form-control" id="email" placeholder="you@example.com" required>
                        <div class="h-25 d-inline-block"></div>
                        <button type="button" class="btn btn-primary w-100" onclick="generateOtp()">Generate
                            OTP</button>
                    </div>
                    <div class="h-25 d-inline-block"></div>
                    <div id="otpBlock">
                        <p class="text-center">Please enter the 6-digit code sent to your email.</p>
                        <div id="otpForm" class="text-center">
                            <div class="mb-4 d-flex justify-content-center">
                                <input type="text" maxlength="6" class="form-control" id="otp" required>
                            </div>
                        </div>
                        <div class="d-flex flex-row-reverse bd-highlight">
                            <button onclick="generateOtp()" class="btn btn-link w-50">Resend OTP</button>
                            <div class="p-2 bd-highlight"></div>
                            <div class="p-2 bd-highlight"></div>
                          </div>
                        <input type="password" class="form-control" id="newPassword" placeholder="new password"
                            required>
                        <div class="h-25 d-inline-block"></div>
                        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password"
                            required>
                        <div class="h-25 d-inline-block"></div>
                        <div id="passNotBlock">
                            <p style="color: red;">Password doesn't match with Confirm Password.</p>
                        </div>
                        <div class="h-25 d-inline-block"></div>
                        <div id="errorBlock"></div>
                        <button type="button" class="btn btn-primary w-100" onclick="validateAndSavePass()">Verified OTP
                            & Save Password</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <%- include('../partials/footer') %>
        <script>
            const email = document.getElementById('email');
            const otp = document.getElementById('otp');
            const newPassword = document.getElementById('newPassword');
            const confirmPassword = document.getElementById('confirmPassword');
            const emailBlock = document.getElementById('emailBlock');
            const otpBlock = document.getElementById('otpBlock');
            const passwordNotMatch = document.getElementById('passNotBlock');
            const otpNotBlock = document.getElementById('otpNotBlock');
            const spinner = document.getElementById('spinner');

            otpBlock.style.display = 'none'
            passwordNotMatch.style.display = 'none'
            otpNotBlock.style.display = 'none'
            spinner.style.display = 'none'

            function showSpinner() {
                spinner.style.display = 'block'
            }

            function hideSpinner() {
                spinner.style.display = 'none'
            }

            function generateOtp() {

                const myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");

                const raw = JSON.stringify({
                    "emailId": email.value
                });

                const requestOptions = {
                    method: "POST",
                    headers: myHeaders,
                    body: raw,
                    redirect: "follow"
                };
                try {
                    showSpinner()
                    let response = fetch("http://localhost:4000/api/user/processotp", requestOptions)
                    response.then(async (response) => {
                        if (response.status == 200) {
                            hideSpinner()
                            emailBlock.style.display = 'none'
                            otpBlock.style.display = 'block'
                        } else {
                            alert(await response.text())
                        }
                    });
                } catch (error) {
                    console.log(error)
                }
            }

            function validateAndSavePass() {
                const myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");

                if (newPassword.value !== confirmPassword.value) {
                    passwordNotMatch.style.display = 'block'
                    return
                }

                const raw = JSON.stringify({
                    "otp": otp.value,
                    "emailId": email.value,
                    "password": newPassword.value
                });

                const requestOptions = {
                    method: "PUT",
                    headers: myHeaders,
                    body: raw,
                    redirect: "follow"
                };


                let restPasswordRes = fetch("http://localhost:4000/api/user/restpassword", requestOptions)
                restPasswordRes.then(async (response) => {
                    if (response.status === 200) {
                        window.location.replace('http://localhost:4000/sh/login')
                    } else if (response.status == 401) {
                        alert(await response.text())
                        window.location.replace('http://localhost:4000/sh/login')
                    }
                    else {
                        alert(await response.text())
                    }
                });
            }
        </script>
</body>

</html>