<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>

        <style>
            body {
                background-color: #f7f7f7;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            .signup-form {
                background: #fff;
                padding: 30px;
                border-radius: 10px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            }

            .form-control:focus {
                box-shadow: none;
                border-color: #007bff;
            }

            .input-group-text {
                background-color: #fff;
                border-left: 0;
            }

            .input-group .form-control {
                border-right: 0;
            }

            .form-group {
                margin-bottom: 1.5rem;
            }

            .mt-0 {
                margin-top: 5cm !important;
            }
        </style>

</head>

<body class="mt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="signup-form">
                    <h2 class="text-center">Sign Up</h2>
                    <form action="#" method="post" id="signupForm">
                        <div class="form-group">
                            <label for="username">First Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="firstName" placeholder="Enter firstName"
                                    required>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username">Last Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="lastName" placeholder="Enter last Name"
                                    required>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="username">Phone Number</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="phoneNo" placeholder="Enter Phone Number"
                                    required>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="email">Email address</label>
                            <div class="input-group">
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username">User Id</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="userId" placeholder="Enter user Id"
                                    required>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="password" placeholder="Enter password"
                                    required>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="confirm-password">Confirm Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="confirm-password"
                                    placeholder="Confirm password" required>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                            </div>
                            <small id="passwordHelp" class="form-text text-muted">Make sure your passwords
                                match.</small>
                        </div>
                        <div class="form-group">
                            <label for="isAdmin">Is Admin ?</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="isAdmin" id="inlineRadio1" value="1">
                                <label class="form-check-label" for="inlineRadio1">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="isAdmin" id="inlineRadio2" value="1">
                                <label class="form-check-label" for="inlineRadio2">No</label>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary w-100" onclick="signupUser()">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>

        const fname = document.getElementById('firstName').value;
        const lname = document.getElementById('lastName').value;
        const phoneNo = document.getElementById('phoneNo').value;
        const emailId = document.getElementById('email').value;
        const userId = document.getElementById('userId').value;
        const pass = document.getElementById('password').value;
        const confirmPass = document.getElementById('confirm-password').value;
        const isAdmin = document.querySelector('input[name="isAdmin"]:checked').value;

        function signupUser() {
            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            if(pass !== confirmPass) {
                return alert('password not matched')
            }

            const raw = JSON.stringify({
                "firstName": fname,
                "lastName": lname,
                "phoneNo": phoneNo,
                "email": emailId,
                "userId": userId,
                "password": pass,
                "isAdmin": isAdmin
            });

            const requestOptions = {
                method: "POST",
                headers: myHeaders,
                body: raw,
                redirect: "follow"
            };

           let request = fetch("http://localhost:4000/api/user", requestOptions)
                request.then(async(response) => {
                    if(response.status == 200){
                        window.location.replace('http://localhost:4000/sh/login')
                    }else {
                        alert(await response.text())
                    }
                });
        }
    </script>
</body>

</html>