<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>

        <style>
            body {
                background-color: #f7f7f7;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            .signup-form {
                background: #fff;
                padding: 30px;
                border-radius: 10px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            }

            .form-control:focus {
                box-shadow: none;
                border-color: #007bff;
            }

            .input-group-text {
                background-color: #fff;
                border-left: 0;
            }

            .input-group .form-control {
                border-right: 0;
            }

            .form-group {
                margin-bottom: 1.5rem;
            }

            .mt-0 {
                margin-top: 5cm !important;
            }
        </style>

</head>

<body class="mt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="signup-form">
                    <h2 class="text-center">Sign Up</h2>
                    <form action="#" method="post" id="signupForm">
                        <div class="form-group">
                            <label for="username">First Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="firstName" placeholder="Enter firstName"
                                    required>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username">Last Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="lastName" placeholder="Enter last Name"
                                    required>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="username">Phone Number</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="phoneNo" placeholder="Enter Phone Number"
                                    required>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="email">Email address</label>
                            <div class="input-group">
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username">User Id</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="userId" placeholder="Enter user Id"
                                    required>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="password" placeholder="Enter password"
                                    required>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="confirm-password">Confirm Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="confirm-password"
                                    placeholder="Confirm password" required>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                            </div>
                            <small id="passwordHelp" class="form-text text-muted">Make sure your passwords
                                match.</small>
                        </div>

                        <!-- <div class="form-group">
                            <label for="terms">
                                <input type="checkbox" id="terms" required> I agree to the <a href="#">terms and conditions</a>
                            </label>
                        </div> -->

                        <button type="button" class="btn btn-primary w-100" onclick="signupUser()">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function signupUser() {
            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");
            myHeaders.append("Cookie", "connect.sid=s%3Ag5yIF0Gt0AEmkIs39kicMi1_6RXh9Iqx.3NmbrTqVIOXyBTrn%2F3SbbxH3JKsn8HsXb0F5KwLEz3k");

            const fname = document.getElementById('firstName').value;
            const lname = document.getElementById('lastName').value;
            const phoneNo = document.getElementById('phoneNo').value;
            const emailId = document.getElementById('email').value;
            const userId = document.getElementById('userId').value;
            const pass = document.getElementById('password').value;
            const confirmPass = document.getElementById('confirm-password').value;
            var finalPass = 0

            if (pass === confirmPass) {
                finalPass = pass
            }else {
                alert("Password Does not match Please try again ")
                return
            }
            const raw = JSON.stringify({
                "firstName": fname,
                "lastName": lname,
                "phoneNo": phoneNo,
                "email": emailId,
                "userId": userId,
                "password": finalPass
            });

            const requestOptions = {
                method: "POST",
                headers: myHeaders,
                body: raw,
                redirect: "follow"
            };

            let request = fetch("http://localhost:4000/api/user", requestOptions)
            .then(async (response) => {
                    if(response.status == 200) {
                        window.location.replace('http://localhost:4000/sh/login')
                    }else {
                       await alert(response.text())
                    }
                })
        }
    </script>
</body>

</html>